@media screen and (max-width: 767px) {
  .advateges-icon {
    display: none;
  }
  .advateges {
    margin-top: 96px;
    margin-bottom: 96px;
  }
  .advanteges-subtitle {
    color: var(--navyblue);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.01;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-top: 72px;
  }
  .advateges-text {
    color: var(--color-slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 18px;
  }
  /* .advateges-main {
    top: 72px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
  } */
}
@media screen and (min-width: 768px) {
  .advateges {
    background: #fff;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .advateges-link {
    display: none;
  }
  .advanteges-subtitle {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .advateges-text {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .advateges-section {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .advateges-main {
    text-decoration: none;
    width: calc((100% - 72px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .advateges-main {
    border-radius: 4px;
    width: calc((100% - 72px) / 4);
  }
  .advateges {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .advateges-link {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 8px;
    background: var(--color-cloud);
  }

  .advateges {
    background: #fff;
  }
  .advateges-section {
    display: flex;
    gap: 24px;
  }

  .advanteges-subtitle {
    color: var(--navyblue);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .advateges-text {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
