.header-description {
  display: none;
}
.header-contact {
  display: none;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-span {
  color: var(--navyblue);
}
.header {
  padding-top: 17.5px;
  padding-bottom: 1705px;
}
.mibile-button-menu {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-menu-icon {
  stroke: #2f2f37;
}
.mobile-menu-modal {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: --white;
}
.mobile-modal-icon-clouse {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
/* .header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 25.5;
  padding-bottom: 25.5;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-list {
  text-decoration: none;
}
.header-navigation {
  align-items: center;
  display: flex;
}
.header-logo-span {
  color: var(--navyblue);
}
.header-logo {
  color: var(--iris);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em; 
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.heder-item {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-list-item {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list-item::after {
  content: "";
  width: 48px;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: var(--color-ocean);
  border-radius: 2px;
  position: absolute;
}
.header-list-item:hover,
.header-list-item:focus {
  color: #404bbf;
}
.header-description {
  display: flex;
  gap: 40px;
}
.header-contact {
  display: flex;
  gap: 40px;
}

.header-list {
  color: var(--navyblue);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}
.header-list:hover,
.header-list:focus {
  color: #404bbf;
}

.header-contact-main:hover,
.header-contact-main:focus {
  color: #404bbf;
}
.header-contact-main {
  color: var(--color-slate);
  list-style: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact-address {
  font-style: normal;
  margin-left: auto;
}
.header-contact-main {
  text-decoration: none;
}
.header-contact:hover {
  color: #404bbf;
}
.header-contact:focus {
  color: #404bbf;
} */
